#top {
	margin-right: 25px;
	margin-top: 11px;
	text-align: right;

	font-family: arial, sans-serif;
	font-size: 13px;

}

#logo { 
	width: 272px;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	
}


.name { 
	white-space: pre;
	color: gray;
}

.rest { 
	white-space: pre;
	font-weight: 300;
}

#search { 

	display: block;
	background: url("images/in_search.png") right no-repeat;
	border: 1px solid #d9d9d9;
	line-height: 38px;
	width: 584px;
	margin: auto; 
	margin-top: 30px;
}

.buttoni 
	

	{ 
		display: inline-block;
		border: 1px solid #f2f2f2;
		
		background-color: #f2f2f2;
		color: #757575;
		height: 16px;
		width: 126px;
		margin-right: 4px;
		padding: 8px 10px 10px 10px;
		text-align: center;
		cursor: pointer;
		font-weight: 300;

	}

.buttoni:hover { 
	border: 1px solid #757575;
	color: #000000;
	font-weight: 300;
}


#wrapper {
    width: 308px;
    margin: 0 auto;
    margin-top: 35px;
}

